<!DOCTYPE html>
<!--layout 기능을 사용하기 위해서 html 태그에 layout 네임스페이스를 추가한다.-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    CDN 추가하기-->
    <!--        CSS ONLY-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--        CSS(resources/static/css 의 layout1.css 와 HTML 연결하기-->
    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <!--    JS, Popper.js, and JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<!--th:replace 속성은 해당 속성이 선언된 html 태그를 다른 html 파일로 치환하는 것으로 이해-->
<div th:replace="fragments/header.html::header"></div>
<!--layout에서 변경되는 영역을 fragment로 설정한다. 앞으로 프로젝트를 만들면서 만들 페이지는 이 영역에 input한다.-->
<!--        CSS(resources/static/css 의 layout1.css 와 HTML 연결하기 2-->
<div layout:fragment="content" class="content">

</div>
<!--header 영역과 마찬가지로 fragments 폴더 아래의 footer.html 파일의 "th:fragment="footer" 영역을 가지고 온다.-->
<div th:replace="fragments/footer.html::footer"></div>

</body>
</html>