<!DOCTYPE html>
<!--Thymeleaf의 문법을 사용하기 위해서 추가-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Thymeleaf 링크처리 예제 페이지</h1>
    <div>
<!--        클릭 시 이전에 작성했던 예제1 페이지로 이동한다. "th:href=@{이동할경로}" 형태로 입력한다. 참고로 스프링 부트에서는
애플리케이션 루트가 "/"이다. 만약 애플리케이션의 루트가 "/shop"으로 지정을 했다면 html 파일에 생성되는 이동 경로는 "/shop/thymeleaf/ex01-->
        <a th:href="@{/thymeleaf/ex01}">예제1 페이지 이동</a>
    </div>
    <div>
<!--        thymeleaf 공식 페이지로 이동한다. 애플리,케이션 외부의 사이트에 접근하는 절대 경로를 입력한다.-->
        <a th:href="@{https://www.thymeleaf.org/}">thymeleaf 공식 페이지 이동</a>
    </div>

    <h1>Thymeleaf 링크처리(파라미터 데이터 전달용) 예제 페이지</h1>
    <div>
<!--        전달할 매개변수를 입력한 경로 끝에 "(key=value)" 구조로 입력한다. 전달할 매개 변수 param1, param2에는 각각 "파라미터 데이터1"
"파라미터 데이터2"를 데이터로 입력한다.-->
        <a th:href="@{/thymeleaf/ex06(param1 = '파라미터 데이터1', param2 = '파라미터 데이터2')}">thymeleaf 파라미터 전달</a>
    </div>
</body>
</html>