<!DOCTYPE html>
<!--Thymeleaf의 문법을 사용하기 위해서 추가-->
<html xmlns:th="http://www.thymeleaf.org">
<!--다른 페이지에 포함시킬 영역을 th:fragment로 선언해준다. footer영역을 fragment로 만든다.-->
    <div class="footer" th:fragment="footer">
        <footer class="footer" th:fragment="footer">
            <footer class="page-footer font-small cyan darken-3">
                <div class="footer-copyright text-center py-3">
                    Kim and Jang Lee? Company
                </div>
            </footer>
        </footer>
    </div>

</html>