<!DOCTYPE html>
<!--Thymeleaf의 문법을 사용하기 위해서 추가--> <!--179p springsecurity5(네임스페이스 추가.로그아웃,어드민계정로그인시 추가 기능) 과정 1-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!--마찬가지로 다른 페이지에 포함시킬 영역을 th:fragment로 선언 : header영역을 fragment로 만든다.-->
<!--
    <div th:fragment="header">
        header 영역 입니다.
    </div>
-->
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Shop</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item"
                    sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
<!--springsecurity5(어드민계정로그인시 추가 기능) 과정 2 : 관리자 계정으로 로그인한 경우 상품 등록, 관리 메뉴를 보여준다 -->
                    <a class="nav-link" href="/admin/item/new">상품 등록</a>
                </li>
                <li class="nav-item"
                    sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/items">상품 관리</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
<!--springsecurity5(어드민계정로그인시 추가 기능) 과정 3 : 장바구니와 구매이력은 로그인(인증) 햇을 겨웅에만 보여준다 -->
                    <a class="nav-link" href="/cart">장바구니</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/orders">구매이력</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
<!--springsecurity5(어드민계정로그인시 추가 기능) 과정 4 : 로그인하지 않은 상태면 로그인 메뉴를 보여준다. -->
                    <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
<!--springsecurity5(어드민계정로그인시 추가 기능) 과정 5 : 로그인한 상태이면 로그아웃을 보여준다. -->
                    <a class="nav-link" href="/members/logout">로그아웃</a>

                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

</html>